.card__title {
  color: black;
  margin-top: 60px;
  margin-bottom: 5px;
  text-align: center;
}

.card__image {
  color: transparent;
  cursor: pointer;
  margin: 20PX;
}

.nav {
  background-color: #409236;
  padding-bottom: 30px;
  box-shadow: 10px 4px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.nav__link {
  color: white;
  font-size: 30px;
  padding-left: 20px;
  text-decoration: none;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.nav__link:hover{
  color: black;
}

.search {
  background-color: transparent;
  border: 2px solid #409236;
  border-radius: 3px;
  font-size: 19px;
  margin:50px 10px 3px 50px;
  padding: 5px;
  display: flex;
  width: 31%;
  margin-left: 35%;
}

.title {
  color: black;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.card__container {
  display: inline-block;
  text-align: center;
}